.card{
    &-poke {
        width: 100%;
        padding: 20px;
        background-color: gray;
        border-radius: 20px;
    }

    &-img {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &-stats {
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    &-stat {
        width: 50%;
        padding: 10px;

        .stat-name {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .stat-progress {
            width: 100%;
            margin-top: 10px;
        }
    }
}