.nav {
    width: 100%;
    
    .nav-items {
        width: 50%;
        float: left;
        list-style: none;
        padding: 30px 0px 30px 0px;
        list-style: none;

        li {
            display: inline;
            margin-right: 30px;
        }
    }

    .nav-logo {
        width: 50%;
        float: left;
    }
}